@charset "UTF-8";

/*
    Em HTML é id em CSS é #
    Em HTML é class em CSS é .
*/
body {
    background-color: #8BFCA7;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #294b33;
    
}
#principal {
    text-align: center;
    background-color: #529262;
    color: white;
}
h2 {
    color: #589e69;
}
.basico {
    color: #589e69;
}
.intermediario{
    color: #999e58;
}
.avancado {
    color: #9e5858;
}
.destaque {
    background-color: #c5c56070;
}